@model IEnumerable<SUM.Models.Espacio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Descripción
        </th>
        <th>
            Costo semana
        </th>
        <th>
            Costo fin de semana
        </th>
        <th>
            Costo limpieza
        </th>
        <th>
            Costo multa
        </th>
        <th>
           Consorcio
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tx_descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fl_costo_semana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fl_costo_fin_de_semana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fl_limpieza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fl_multa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Consorcio.tx_descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.cd_espacio }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.cd_espacio }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.cd_espacio })
        </td>
    </tr>
}

</table>
