@model SUM.Models.Usuario

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Departamento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cd_usuario)
        </dd>
        <dt>
            Contraseña
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tx_contrasena)
        </dd>

        <dt>
            E-Mail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tx_mail)
        </dd>

        <dt>
            Telefono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tx_telefono)
        </dd>
        <dt>
            Es administrador?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fl_administrador)
        </dd>
        <dt>
            Deshabilitar departamento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fl_inhabilitado)
        </dd>

        <dt>
            Deshabilitar reserva
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fl_inhabilita_reserva)
        </dd>
        <dt>
            Consorcio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consorcio.tx_descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new {  id = Model.cd_usuario }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
